:host {
  display: flex;
  flex-direction: column;
}

.hc-canvas {
  height: 600px;
  width: 600px;
}

.selected {
  color: red;
}

.btn {
  fill: rgba(250, 170, 50, 0);
  cursor: pointer;
  transition: 0.1s;
}

.btn:hover {
  fill: rgba(250, 170, 50, 0.6);
}
