<!--<div style="position: relative; width: 600px; height: 600px">
  <img
    style="position: absolute; top: 0; left: 0; z-index: 0"
    src="hc.png"
    width="600"
    height="600"
  />
  <canvas
    style="position: absolute; top: 0; left: 0; z-index: 1"
    width="600"
    height="600"
    class="hc-canvas"
    #hc
  ></canvas>
</div>-->
<svg #svg width="1000" height="1000" viewBox="0 0 600 600">
  <image href="hc.png" x="0" y="0" width="600" height="600" />
  @for (btn of buttons; track btn.name) {
    <rect
      class="btn"
      [attr.x]="btn.x - btn.w! / 2"
      [attr.y]="btn.y - btn.h! / 2"
      [attr.width]="btn.w"
      [attr.height]="btn.h"
      [attr.rx]="btn.r"
    />
  }
</svg>
