<div class="header">
  <input [(ngModel)]="event.Name" />
  <button class="del-btn" (click)="deleteEvent()">✖</button>
</div>
<div class="header">
  <button (click)="addCondition()">Add condition</button>
  <select [(ngModel)]="event.ConditionLogic">
    <option value="AND">AND</option>
    <option value="OR">OR</option>
  </select>
</div>
@for (condition of event.Conditions; track $index) {
  <div class="inputs">
    <input class="dataref" placeholder="Condition" [(ngModel)]="condition.Condition" />
    <input placeholder="Value" [(ngModel)]="condition.Value" />
    <button class="del-btn" (click)="deleteCondition(condition)">✖</button>
  </div>
}
<div class="header">
  <button (click)="addVariable()">Add variable</button>
</div>
@for (variable of event.Variables; track $index) {
  <div class="inputs">
    <input class="dataref" placeholder="Variable" [(ngModel)]="variable.Variable" />
    <input placeholder="Value" [(ngModel)]="variable.Value" />
    <button class="del-btn" (click)="deleteVariable(variable)">✖</button>
  </div>
}
