:host {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.inner-checks {
  margin-left: 50px;
}

.check {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(214, 230, 255);
  cursor: pointer;
}

.check:hover {
  background-color: rgb(184, 211, 255);
}

.checked {
  background-color: rgb(181, 255, 180);
}

.checked:hover {
  background-color: rgb(139, 255, 137);
}

.check-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  font-size: 0.8em;
}
